@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Josefin";
  src: url("./public/fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: "K2D";
  src: url("./public/fonts/K2D-Bold.ttf");
}
